*.mat
*.o
Untitled*
IMG_*
ORIG_*
*.dat
LOG_*

images_priv

.ipynb_checkpoints
__pycache__
*.pyx
*.pyc

#*_files
.DS_Store

*.aux
*.log
*.out


*.swp
*.swo
*~

TEMP_*

a.out

OLD_*
OLDS*
olds
LOGBOOK.md

_build
